li {
	padding: 15px 30px;
	@include flexVertical;
	justify-content: space-between;

	p {
		color: $colorPrimary;
	}

	.actions {
		@include flexVertical;
		i {
			margin-left: 20px;
			cursor: pointer;
		}
		.fa-edit {
			color: rgb(74, 6, 233);
		}
		.fa-trash-alt {
			color: red;
		}
	}
}
